<% buttons    ||= buttons.nil? %>
<% compo      ||= compo.nil? %>
<% time       ||= time.nil? %>

<tr>
	<td><%= link_to team.name, team %></td>
	<% if compo %>
		<td><%= team.compo.game.name %></td>
	<% end %>
	<% if time %>
		<td><%= team.compo.date_time.strftime(SETTINGS[:format]) %></td>
	<% end %>
	<% if buttons %>
		<td><%= standard_edit_buttons(team) %></td>
		<% end %>
</tr>
