<% title "Teams" %>

<table class="table table-striped datatable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Compo</th>
			<th>Time</th>
			<th class="action_column"></th>
			<th class="action_column"></th>
			<th class="action_column"></th>
		</tr>
	</thead>

	<% @teams.each do |team| %>
			<%= render partial:"table_row", locals:{team:team} %>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("team.one")), new_team_path %>
