<% title "Teams" %>

<table>
	<tr>
		<th>Name</th>
		<th>Compo</th>
		<th class="action-column"></th>
	</tr>

	<% @teams.each do |team| %>
		<tr>
			<td><%= team.name %></td>
			<td><%= team.compo_id %></td>
			<td class="action-column"><%= standard_edit_buttons(team) %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("team.one")), new_team_path %>
