<p>
	<b>Match:</b>
	<%= @match_lose_link.match_id %>
</p>

<p>
	<b>Next match:</b>
	<%= @match_lose_link.next_match_id %>
</p>


<%= link_to t(:edit), edit_match_lose_link_path(@match_lose_link) %> |
<%= link_to 'Back', match_lose_links_path %>
