<p>
	<b>Name:</b>
	<%= @user_group.name %>
</p>

<p>
	<b>Description:</b>
	<%= @user_group.description %>
</p>


<%= link_to t(:edit), edit_user_group_path(@user_group), class: "btn btn-default" %> |
<%= link_to 'Back', user_groups_path, class: "btn btn-default" %>
