<% title "Rounds" %>

<table>
	<tr>
		<th>Compo</th>
		<th class="action-column"></th>
	</tr>

	<% @rounds.each do |round| %>
		<tr>
			<td><%= round.compo_id %></td>
			<td class="action-column"><%= standard_edit_buttons(round) %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("round.one")), new_round_path %>
