<h1>Listing clans</h1>

<table class="table">
	<tr>
		<th>Tag</th>
		<th class="action-column"></th>
	</tr>

	<% @clans.each do |clan| %>
		<tr>
			<td><%= clan.tag %></td>
			<td class="action-column"><%= standard_edit_buttons(clan) %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, :model => t("clan.one")), new_clan_path %>
