<%= link_to t(:new_blog_post), new_blog_post_path, class: "btn btn-new-blog-post" if current_user.access_allowed?(:blog_editing) %>
<h2><%= t(:blog) %></h2>
<%= render BlogPost.order("created_at DESC").limit(5) %>
<p class="paragraph-more"><%= link_to t(:btn_more), blog_posts_path %></p>

