<div class="carousel slide" id="slider">
	<div class="carousel-inner">
		<div class="active item"><%= image_tag("bam1.jpg", :size => "100%x100%") %></div>
		<div class="item"><%= image_tag("bam2.jpg", :size => "100%x100%") %></div>
	</div>
	<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
</div>
