<% content_for :before_container do %>
	<div class="hero-unit">
		<%= render "slider" %>
	</div>
<% end %>

<div class="row">
	<div class="span8">
		<%= render "left_home_pane" %>
	</div>
	<div class="span4">
		<%= render "right_home_pane" %>
	</div>
</div>
