<% content_for :before_container do %>
	<div class="jumbotron">
		<%= render "slider" %>
	</div>
<% end %>

<div class="row">
	<div class="col-md-8">
		<%= render "left_home_pane" %>
	</div>
	<div class="col-md-4">
		<%= render "right_home_pane" %>
	</div>
</div>
