<% if current_user and current_user.access_allowed?(:compo_editing) %>
	<%= standard_edit_buttons(game, toolbar_class: "grid-game-manipulation-buttons", button_class: "btn-xs") %>
<% end %>
<h3><%= game.name %></h3>
<% image = game.image_url(:front) %>
<% if image %>
	<%= link_to image_tag(image), game %>
<% end %>
<p class="well"><%= game.info %></p>

