<% title "Barcodes" %>

<table class="table">
	<tr>
		<th>StoreItem</th>
		<th>Code</th>
		<th class="action-column"></th>
	</tr>

	<% @barcodes.each do |barcode| %>
		<tr>
			<td><%= barcode.store_item.name %></td>
			<td><%= barcode.code %></td>
			<td class="action-column"><%= standard_edit_buttons(barcode) %></td>
		</tr>
	<% end %>
</table>

<br/>

<%= link_to t(:new, model: t("barcode.one")), new_barcode_path %>
