/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require jquery-ui-timepicker-addon
 *= require jquery.bracket
 *= require dataTables/jquery.dataTables.bootstrap
 *= require chosen
 */
@import "bootstrap_and_overrides";
@import 'font-awesome';
@import "pages";

input[type=submit] {
	border-radius: 5px;
}

.center {
	text-align: center;
}

.alert {
	// TODO: This line breaks twitter bootstrap on small devices. My solution is not ideal.
	// position: absolute;
	z-index: 1029;
}

.flashmsgholder {
	// Said solution
	position: absolute;
	padding-right: 20px;
}

@media (max-width: 979px) {
	.alert {
		margin-top: 51px;
	}
}

.order-lock-indicator {
	margin-right: 4px;
}

input.order-amount {
	width: 50px;
	margin-bottom: 0px;
}

th.order-price {
	width: 100px;
}

.action-toolbar {
	margin: 0px;
}

.blog-post-buttons {
	float: right;
	margin-left: 5px;
}

// Counteract an artefact in Chosen caused by the bootstrap theme
.chosen-results {
	color: rgb(82, 87, 92);
}
