// The buttons that toggle the games view to grid or list mode.
.game-list-view-options {
	float: right;
}

// Buttons that float on the top right of the games in the game grid.
.grid-game-manipulation-buttons {
	float: right;
	margin-top: 18px;
}

// Images may not overflow their div
.game-grid-item img {
	max-width: 100%;
	height: auto;
}
