#slider {
	height: 300px;
}

.carousel img {
	max-height: 300px;
}

.carousel-inner {
	background-color: black;
	text-align: center;
}

.carousel .item > img {
	display: inline-block;
}

.carousel-caption {
	color: white;
	position: static;
}

.jumbotron {
	padding: 0px;
	.container {
		width: 100%;
	}
}

#side-info-bar > tbody > tr > td:first-child {
	font-weight: bold;

	&:after {
		content: ":";
	}
}