$background-color: #636363;
$link-color: #EA8916;

body {
	background: $background-color;
	font-family: verdana, arial, sans-serif;
	font-size: 0.75em;
}

#content {
	background: white;
	width: 760px;
	margin-left:auto;
	margin-right:auto;
	padding: 2px 15px 19px 15px;
	text-align: justify;
}

h1 {
	color: $link-color;
	border-bottom: 1px solid;
	padding: 6px 0px 4px 0px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 150%;
}
