<% no_user ||= false %>
<table class="table">
	<tr>
		<th>Message</th>
		<% if not @no_user %>
			<th>User</th>
		<% end %>
		<th class="action-column"></th>
	</tr>

	<% logs.each do |log| %>
		<tr>
			<td><%= log.message %></td>
			<% if not no_user %>
				<td><%= log.user.username %></td>
			<% end %>
			<td class="action-column"><%= standard_edit_buttons(log) %></td>
		</tr>
	<% end %>
</table>


